<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body>
    <h1 class="f-tac u-fs26"><%= title %></h1>
    <div id="root"></div>
    <script src="js/app.js"></script>
  </body>
</html>
